body { 
font-family: Arial, sans-serif; 
font-size: larger;
margin: 0; 
padding: 0; 
} 
h1, h2, h3 {
    font-family: Arial, sans-serif;
    font-weight: bold;
}
/* header */
header { 
background-color: #2d5e8f; 
color: rgb(255, 254, 254); 
padding: 15px; 
text-align: center; 
margin:10px;
border-radius:10px;
} 
/* navbar */
nav {
    margin-top: 10px;
}
/* nav links */
nav a { 
color: white; 
margin: 10px; 
text-decoration: none; 
padding: 5px 8px;
} 
/* Mouse hover on links */
nav a:hover { 
text-decoration: underline; 
color:black;
} 
/* Main content sections */ 
main { 
padding: 20px;
margin: 20px; 
} 
/* All sections */
section,Article { 
margin: 10px; 
background-color:rgb(236, 229, 229) ;
color: black;
border: 2px solid black;
padding: 10px;
border-radius:10px;
} 
/* highlight section */
.highlight{
    font-size: x-large;
    color:rgb(9, 7, 10);
}
/* footer section */

footer { 
background-color:rgb(0, 0, 0) ; 
color: rgb(255, 255, 255); 
text-align: center; 
padding: 15px; 
width: 100%;
margin: 10px;
border-radius:10px;
}
/* Footer links */
footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
/* Mouse hover on links */
footer a:hover{
    color:#3e0e7c;
    text-decoration: underline;
}
/* quick links section */
#quickLinks a:hover,section a:hover{
    color:black;
} 
/* image */
img {
    max-width: 400px;
    border: 4px solid black;
    border-radius: 10px;
}
/* nav a:visited,footer a:visited{
    color:crimson;
} */

